<!-- Change fromClock and toClock for updating the clock arc, line 30.
     Adding an arc with the add arc function with your new from/toClock, line 117.
     Changing the colors with the fill color of the clockGroup, line 131.
-->

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Camembert</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    line {
  display: block;
  stroke: black;
}
</style>
    <body>
        <div class="text-center align-items-center">
            <span><small>00:00</small></span>
            <div class="chart"></div>
            <span><small>12:00</small></span>
        </div>
        <script src="https://d3js.org/d3.v3.js"></script>
        <script>
          var clockGroup, fields, formatHour, formatMinute, formatSecond, height, offSetX, offSetY, pi, render, scaleHours, scaleSecsMins, vis, width;

            var radius = 80;
            var tickLength = 10;
            var fromClock = 9;
            var toClock = 1;
            var fromClock_2 = 2;
            var toClock_2 = 4;
            var circleDegree = 360;

            function degToRad(degrees) {
            return degrees * Math.PI / 180;
            }

            function clockToRad(clock, direction) {
            var unit = circleDegree / 12;
            var degree = direction > 0 ? unit * clock : unit * clock - circleDegree;
            return degToRad(degree);
            }

            function getCoordFromCircle(deg, cx, cy, r) {
            var rad = degToRad(deg);
            var x = cx + r * Math.cos(rad);
            var y = cy + r * Math.sin(rad);
            return [x, y];
            }

            function splitDegrees(num) {
            var angle = circleDegree / num;
            var degrees = [];

            for (var ang = 0; ang < circleDegree; ang += angle) {
                degrees.push(ang);
            }

            return degrees;
            }


            formatSecond = d3.time.format("%S");

            formatMinute = d3.time.format("%M");

            formatHour = d3.time.format("%H");

            fields = function() {
            var d, data, hour, minute, second;
            d = new Date();
            second = d.getSeconds();
            minute = d.getMinutes();
            hour = d.getHours() + minute / 60;
            return data = [{
                "unit": "seconds",
                "text": formatSecond(d),
                "numeric": second
            }, {
                "unit": "minutes",
                "text": formatMinute(d),
                "numeric": minute
            }, {
                "unit": "hours",
                "text": formatHour(d),
                "numeric": hour
            }];
            };

            width = 181;

            height = 181;

            offSetX = 90;

            offSetY = 90;
            pi = Math.PI;
 
            scaleSecsMins = d3.scale.linear()
            .domain([0, 59 + 59 / 60])
            .range([0, 2 * pi]);

            scaleHours = d3.scale.linear()
            .domain([0, 11 + 59 / 60])
            .range([0, 2 * pi]);

            vis = d3.selectAll(".chart")
            .append("svg:svg")
            .attr("width", width)
            .attr("height", height);

            clockGroup = vis.append("svg:g")
            .attr("transform", "translate(" + offSetX + "," + offSetY + ")");

            var arc = d3.svg.arc()
            .innerRadius(0)
            .outerRadius(radius)
            .startAngle(clockToRad(fromClock, -1))
            .endAngle(clockToRad(toClock, 1));

            var arc_2 = d3.svg.arc()
            .innerRadius(0)
            .outerRadius(radius)
            .startAngle(clockToRad(fromClock_2, -1))
            .endAngle(clockToRad(toClock_2, -1));

            clockGroup.append('path')
            .attr('d', arc)
            .style('fill', 'gray');
            
            clockGroup.append('path')
            .attr('d', arc_2)
            .style('fill', 'gray');

            clockGroup.append("svg:circle")
            .attr("r", radius)
            .attr("fill", "none")
            .attr("class", "clock outercircle")
            .attr("stroke", "black")
            .attr("stroke-width", 2);


            clockGroup.append('g')
            .attr('class', 'ticks')
            .selectAll('path')
            .data(splitDegrees(12))
            .enter()
            .append('path')
            .attr('d', function(d) {
                var coord = {
                outer: getCoordFromCircle(d, 0, 0, radius),
                inner: getCoordFromCircle(d, 0, 0, radius - tickLength)
                };
                return 'M' + coord.outer[0] + ' ' + coord.outer[1] + 'L' + coord.inner[0] + ' ' + coord.inner[1] + 'Z';
            })
            .attr('stroke', 'black');

            clockGroup.append("svg:circle")
            .attr("r", 4)
            .attr("fill", "black")
            .attr("class", "clock innercircle");



            render = function(data) {
            var hourArc, minuteArc, secondArc;

            minuteArc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(70)
                .startAngle(function(d) {
                return scaleSecsMins(d.numeric);
                })
                .endAngle(function(d) {
                return scaleSecsMins(d.numeric);
                });

            hourArc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(50)
                .startAngle(function(d) {
                return scaleHours(d.numeric % 12);
                }).endAngle(function(d) {
                return scaleHours(d.numeric % 12);
                });

            clockGroup.selectAll(".clockhand")
                .data(data)
                .enter()
                .append("svg:path")
                .attr("d", function(d) {
                if (d.unit === "seconds") {
                    return secondArc(d);
                } else if (d.unit === "minutes") {
                    return minuteArc(d);
                } else if (d.unit === "hours") {
                    return hourArc(d);
                }
                })
                .attr("class", "clockhand")
                .attr("stroke", "black")
                .attr("stroke-width", function(d) {
                if (d.unit === "seconds") {
                    return 2;
                } else if (d.unit === "minutes") {
                    return 3;
                } else if (d.unit === "hours") {
                    return 3;
                }
                })
                .attr("fill", "none");
            };

        </script>
    </body>
</html>


