<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Récapitulatif global</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <script src="headerAT.js"></script>

        <div class="container pt-3 pb-3 w-100 h-100" style="min-height: 100%">
			<div class="row border border-secondary rounded m-0 pt-2 pb-2 pl-0 pr-0">
				<div class="col-8">
				    <div class="h4 mb-0">Normal</div>
				</div>
				<div class="col-4 align-middle">
					<div class="radio-inline h-100 w-100">
					    <input type="radio" name="optradio" class="h-100 w-100 align-middle text-center">
					</div>
				</div>
			</div>
			<div class="row border border-secondary rounded m-0 pt-2 pb-2 pl-0 pr-0">
				<div class="col-8">
				    <div class="h4 mb-0">Exam</div>
				</div>
				<div class="col-4 align-middle">
					<div class="radio-inline h-100 w-100">
					    <input type="radio" name="optradio" class="h-100 w-100 align-middle text-center">
					</div>
				</div>
			</div>
			<div class="row border border-secondary rounded m-0 pt-2 pb-2 pl-0 pr-0">
				<div class="col-8">
				    <div class="h4 mb-0">Vacances</div>
				</div>
				<div class="col-4 align-middle">
					<div class="radio-inline h-100 w-100">
					    <input type="radio" name="optradio" class="h-100 w-100 align-middle text-center">
					</div>
				</div>
			</div>
		</div>
        <div class="row pl-3 fixed-bottom m-0 pb-4">
            <div class="col-8 pr-0">
                <textarea class="h-100 w-100 align-middle border" rows="1" placeholder="Nom de l'archétype"></textarea>
            </div>
            <div class="col-4 pl-0 text-center">
                <a href="ArchetypeSemaine.html"><div class="btn btn-primary rounded-circle h-100">+</div></a>
            </div>
        </div>
    </body>
</html>
